body {
  background-image: url(./3179878.jpg);
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.bandeau,
.bandeau_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black;
  width: auto;
  color: white;
  padding: 6px;
  flex-wrap: wrap;
  border-radius: 30px;
  margin-bottom: 30px;
}

.bandeau {
  background-color: rgb(34, 30, 94);
}

.bandeau_nav {
  background-color: rgb(10, 103, 131);
}

.titre, .titrep, .titref, .titreh, .titres, .titrepro, .titrel, .titrec {
  font-family: Impact, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.contact a {
  color: #ffd700;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.contact_bar a {
  color: #fdfdfd;
  text-decoration: none;
}

.contact p {
  text-align: center;
  margin-bottom: 10px;
}

.info {
  margin-right: 15px;
}

.formation-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.formation-links a {
  margin: 0 10px;
}

footer .bandeau {
  justify-content: center;
}

.presentation_box, .formations_box, .hard_box, .soft_box, .proge_box, .langue_box, .certification_box {
  width: auto;
  border-radius: 30px;
  border: solid black;
  margin-bottom: 30px;
  padding: 20px;
}

.presentation_box,



.certification_box, .soft_box {
  background-color: rgb(255, 166, 49);
}

 .langue_box, .hard_box {
  background-color: rgb(10, 103, 131);
}

 .proge_box,.formations_box {
  background-color: rgb(56, 50, 151);
}

.photo_de_profil {
  width: 250px;
  margin: auto;
  display: block;
  border-radius: 30px;
}

.image_formation {
  width: 200px;
  margin: 25px;
  display: block;
  border-radius: 30px;
}

.image_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}

.texte_sous_image {
  margin-top: 10px;
  font-family: Arial;
}

.text {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: justify;
}

.image_projet {
  width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.2);
}