@media screen and (max-width: 767px) {

    .blue {
        background-color: #67B3DD;
        width: 100%;
        height: 100px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .yellow {
        background-color: #FEDF6B;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .green {
        background-color: #9EE062;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .red {
        background-color: #FC302D;
        width: 100%;
        height: 100px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    article:nth-child(n+3) {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .articles-container article {
        width: 48%;
        height: 250px;
    }


    .blue {
        background-color: #67B3DD;
        width: 50%;
        height: 125px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    .yellow {
        background-color: #FEDF6B;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .purple {
        background-color: #6B2683;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .green {
        background-color: #9EE062;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .red {
        background-color: #FC302D;
        width: 100%;
        height: 125px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    article:nth-child(n+5) {
        display: none;
    }

    .articles-container article:nth-child(n+4) {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {

    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .articles-container article {
        width: calc(33.3% - 13.33px);
        height: 250px;
    }


    .blue {
        background-color: #67B3DD;
        width: 50%;
        height: 125px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    .yellow {
        background-color: #FEDF6B;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .purple {
        background-color: #6B2683;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .green {
        background-color: #9EE062;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .red {
        background-color: #FC302D;
        width: 100%;
        height: 125px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .pink {
        background-color: pink;
        width: 100%;
        height: 250px;
        position: sticky;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
.articles-container article {
        display: flex;
        flex-direction: column;
    }
}