@import "tailwindcss";
/* Mode clair */
body {
  background-image: url('../src/assets/background-light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Mode sombre automatique */
@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../src/assets/background-dark.png');
  }
}
